@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>The Leave Management System web application allows users to access their different leave allocations and request leave as needed.</p>
    <p>Administrators may view/add/edit/delete different leave types, periods, and allocations.</p>
    <p>Administrators and supervisors may also review leave requests made by employees and either approve or deny them.</p>
</div>
