@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <p>The Leave Management System web application requires that new users provide their email, first name, last name, and date of birth.</p>
    <p>This data is used solely to build a profile to be referenced by administrators of the companies that choose to utilize this web application for leave management.</p>
    <p>The data provided is not used for any type of data tracking by the developer of the application.</p>
    <p>For other information, contact Michael Duteau at <a href="mailto:meduteauii@gmail.com">meduteauii@gmail.com</a></p>
</div>
