@model Period

@{
    ViewData["Title"] = "Details";
}

<h1 align="center">Details</h1>
<h4 align="center">Period</h4>
<hr />
<div align="center">
    <dl class="row justify-content-md-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row justify-content-md-center">
        <dt class = "col-sm-2">
            Start Date
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
    </dl>
    <dl class="row justify-content-md-center">
        <dt class = "col-sm-2">
            End Date
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<br />
<div align="center">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <br />
    <br />
    <a asp-action="Index">Back to List</a>
</div>
