@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="page-wrapper-2" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-12 col-lg-12 col-xxl-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="~/images/password-256.png" alt="">
                            </a>
                            <h2>Use a local account to log in.</h2>
                            <form id="account" method="post">
                                <div class="mb-3">
                                    <label asp-for="Input.Email" class="form-label">Email</label>
                                    <input class="form-control" asp-for="Input.Email" aria-describedby="emailHelp">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <input class="form-control" asp-for="Input.Password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <a class="text-primary fw-bold" asp-page="./ForgotPassword">Forgot Password?</a>
                                </div>
                                <button id="login-submit" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4">Sign In</button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">New Employee?</p>
                                    <a class="text-primary fw-bold ms-2" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p align="center">
    <a href="https://www.flaticon.com/free-icons/login" title="login icons">Login icons created by Vector Squad - Flaticon</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
