@model LeaveTypeReadOnlyVM

@{
    ViewData["Title"] = "Delete Leave Type";
}

<h1 align="center">Delete Leave Type</h1>

<h3 align="center">Are you sure you want to delete this Leave Type?</h3>
<hr />
<div align="center">
    <dl class="row justify-content-md-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row justify-content-md-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.NumberOfDays)
        </dd>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <br />
        <br />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
