@model LeaveTypeEditVM

@{
    ViewData["Title"] = "Edit Leave Type";
}

<h1 align="center">Edit Leave Type</h1>
<hr />
<div align="center">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" style="width:250px; text-align:center" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br/>
        <div class="form-group">
            <label asp-for="NumberOfDays" class="control-label"></label>
            <input asp-for="NumberOfDays" class="form-control" style="width:250px; text-align:center" />
            <span asp-validation-for="NumberOfDays" class="text-danger"></span>
        </div>
        <br/>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-warning" />
            <br />
            <br />
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
