@model LeaveAllocationEditVM

@{
    ViewData["Title"] = "Edit Allocation";
}

<h1 align="center">Editing @Model.LeaveType?.Name Allocation for @Model.Employee.FirstName @Model.Employee.LastName</h1>

<hr />
<br />
<div align="center">
    <form asp-action="EditAllocation">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="LeaveType.Id" />
        <input type="hidden" asp-for="Employee.Id" />
        <div class="form-group">
            <label asp-for="Days" class="control-label"></label>
            <input asp-for="Days" class="form-control" style="width:250px; text-align:center" />
            <span asp-validation-for="Days" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <br />
            <br />
            <a asp-action="Index" class="btn btn-dark">Back to List</a>
        </div>
    </form>
</div>